body{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    
}
.abc{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding-bottom: 50px;
    background-color: white;
    width: 500px;
}
.form{
    padding: 10px;
    margin-top: 50px;
    width: 400px;
}

.login{
    background-color: white;
    border: none;
    font-size: small;
    color: blue;
    font: inherit;
}